.pipi{
color:blue;
}
.popo{
    font-family: "Courier New",sans-serif;
}
.papa{
    text-align: center;
}
.pupu{
    font-size: 50px;
}
.nana{
    background-color: yellow;
}
.nunu{
    vertical-align: center;
}
.nono{
    border: solid 1px blue;
    height: 200px;
}